html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 10px;
}



body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand {
    padding: 10px;
    margin-right: 10px;
}

.navbar-brand img {
    height: 32px;
    width: 32px;
    display: inline;
}

/* Social Icons */

.social {
    text-align: center;
}

.social a:hover {
    color: #65c2ed;
}

.Res
{
    margin-left: 300px;
    margin-bottom: 20px;

}
